<!--<div>-->
  <!--<a routerLink="/first-page" routerLinkActive="active"><h3>First component</h3></a>-->
  <!--<a routerLink="/second-page" routerLinkActive="active"><h3>Second component</h3></a>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active" class="active"><h3>Home</h3></a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><h3>Contact</h3></a></li>
        <li><a routerLink="/about" routerLinkActive="active"><h3>About</h3></a></li>
      </ul>
    </nav>
  </div>
</header>
<article style="margin-top: 100px">
  <hr>

  <router-outlet></router-outlet>

  <hr>
</article>
